    body {
        font-family: 'Rajdhani', sans-serif;
        margin: 20%;
}   
   
    h1 {
        color: #ec183f;
        font-weight: bolder;
}
    .destaque {
        width: 100%;  
}

    #lista {
        font-style: italic;
}

footer img{
    width: 32px;
}


    